---
layout: default
---

{{ content }}

<section>
  <h2>Featured Articles</h2>

  {% for post in site.posts limit: 3%}
  <article>
    <h3 class="title"><a href="{{ post.url }}" class="js-pjax">{{ post.title }}</a></h3>
    <p class="date">{{ post.date | date: "%b %d, %Y" }}</p>
    {{ post.excerpt }}
    <a href="{{ post.url }}">Read more</a> 
  </article>
  {% endfor %}
</section>
